/*WHOLE SITE*/

body {
	font-family: "Tahoma";
}

#everything {
	width: 75%;
	border-radius: 5px;
	margin: 0px auto;
	padding: 25px;
}

header {
	display: block;
	width: 60%;
	margin: 0px auto;
	padding: 10px 25px;
	border-radius: 5px;
	background: #ddddff;
	font-family: 'Lilita One', cursive;
}

nav {
	width: 80%;
	margin: 0px auto;
}

h1{
	display: inline;
	margin: 0px 10px 0px 0px;
}

h3 {
	display: inline;
	margin: 0px 0px 0px 10px;
}

#content {
	margin: 0px auto;
	width: 80%;
}

/*CATALOG*/

.catalogRow {
	height: 300px;
	width: 80%;
	background: #eeeeff;
	border-radius: 5px;
	margin: 25px auto;
	padding: 25px;
	transition: background 2s;
	-webkit-transition: background 2s;
}

.catalogImage {
	height: 250px;
	width: 250px;
	border-radius: 5px;
	margin-right: 25px;
	float: left;
}

.catalogText {
	height: 250px;
}

.false {
	background: #ffeeee;
}

.bought {
	background: #eeffee;
}



/*CART*/

#cartHeader {
	background: #eeeeff;
	border-radius: 5px;
	padding: 10px;
	margin: 25px;
}

#cartHeader .cartData {
	display: inline;
	clear: none;
	border-radius: 5px;
	padding: 5px;
	background: #fafaff;
}
#cartHeader button{
	display: block;
	margin: 25px auto;
}

.cartRow {
	height: 200px;
	margin: 25px;
	padding: 10px;
	background: #eeeeff;
	border-radius: 5px;
	transition: all 2s;
	-webkit-transition: all 2s;
}

.cartImage {
	height: 200px;
	width: 200px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
}

.cartText {
	margin-top: 10px;
}

.cartData {
	margin: 10px 25px;
}

#cartTitle {
	margin: 10px auto 20px auto;
	text-align: center;
}



/*SOCK GAME*/

#sockGame {
	height: 600px;
	width: 600px;
	background: #eeeeff;
	margin: 25px auto;
	border-radius: 5px;
	transition: background 2s;
	-webkit-transition: background 2s;
}

#sockGameDescription {
	width: 80%;
	margin: 25px auto 0px auto;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	background: #eeeeff
}

.sockTile {
	height: 98px;
	width: 98px;
	display: inline-block;
}

.sockRow {
	height: 100px;
	width: 600px;
}

svg{
	height: 98px;
	width: 98px
}

.svg{
	height: 98px;
	width: 98px
}

.replaced-svg {
	height: 100px;
	width: 100px
}


/* CONTACT */

#contactTitle {
	width: 80%;
	margin: 25px auto;
	background: #eeeeff;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

#contactForm {
	width: 80%;
	margin: 25px auto;
	background: #eeeeff;
	border-radius: 5px;
	padding: 10px;
}

form div {
	margin: 10px auto;
	width: 80%;
}

label {
	margin: auto 5px;
}

#formSubmit {
	width: 40px;
	margin: 5px auto;
}
