html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
}

a:hover {
	cursor: pointer;
}

.container-fluid {
	height: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.h1, h1 {
	font-size: 26px !important;
    margin-top:0 !important;
}

/*HEADER*/

.main-logo
{
	height: 55px;
    font-family: 'Chango', cursive;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #EEE;
}

#dataButton {
	float: left;
}

.form-control {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.search_bar{
    text-align: center;
}

.form-group {
	margin-bottom: 0px;
}

/*
 *
 * DATA WINDOW
 * (the left side of the thing)
 *
 */

#dataWindow {
	height: calc(100% - 55px);
	background: rgba(0, 0, 0, 0.8);
	position: relative;
	color: rgba(255, 255, 255, 1);
	
	transition: left 1s;
	-webkit-transition: left 500ms;
}

#dataWindowTitle {
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

#dataWindowTitle h5, #dataWindowTitle .h5 {
	margin-bottom: 0 !important;
}

#dataWindowTitle span {
	font-size: 15px;
	text-decoration: underline;
	color: #CBCBD7;
	cursor: pointer;
}

#dataListWrapper {
	height: 88%;
	max-height: 88%;
	overflow: hidden;
}

#dataList {
	width: 80%;
	/*height: 82%;*/
	/*max-height: 82%;*/
	/*background: rgba(255, 255, 255, 0.5);*/
	margin: 5px auto;
	border-radius: 5px;
	position: relative;
	padding: 5px;
	overflow: hidden;
}

#dataListHeader {

}

#dataListHeader  h3{

}

#dataListHeader  h5{

}



.dataListItem {
	width: 90%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin: 4px auto 10px auto;
	border: 3px solid rgb(133, 133, 144);
	position: relative;
	cursor: pointer;
}

.dataListItemName {
	margin: 5px;
}

.dataListItemAmount {
	margin-left: 20%;
	margin-right: 5px;
	margin-bottom: 5px;
}

.dataListLearnMore {
	background: rgb(133, 133, 144);
	text-align: center;
	font-style: italic;
	font-size: 16px;
}

.dataListItem a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}


#backButton {
	position: absolute;
	top: 1%;
	right: 1%;
	display: inline-block;
}





/*
 *
 * MAP WINDOW
 * (the right side of the thing)
 *
 */

#pac-input {
	width: 100%;
	font-size: 19px;
	height: 38px;
}

#mapWindow {
	width: 100%;
	height: 86%;
	position: relative;
}


#mapWindow .loader {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url('ajax-loader.gif');
	background-position: center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
}

#googleMap {	
	width: 100%;
	height: calc(100% - 55px);
	margin: 0px;
}


.controls {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}


 

/*
 *
 * MEDIA QUERIES
 *
 *
 */

@media (max-width: 767px) {
	#dataWindow {
		width: 90%;
		float: none;
		position: absolute;
		z-index: 3;
		left: -110%;
	}


	#mapWindow {
		width: 100%;
		height: 100%;
		float: none;
	}		
}


@media (min-width: 768px) {
	.container-fluid {
		background: rgba(0, 0, 0, 0.8);
	}

	.main-logo {
		background: rgba(0, 0, 0, 0);
	}

	.h1, h1 {
		font-size: 36px;
	}

	#dataWindow {
		left: 0%;
		width: 35%;
		position: static;
		display: inline-block;
		background: rgba(0, 0, 0, 0);
		float: left;
		z-index: auto;
	}

	#mapWindow {
		width: 65%;
		height: 100%;
		display: inline-block;
	}
	
	#pac-input {
		top: 15px !important;
		width: 400px;
	}


}