@font-face { 
	font-family: 'mayorsFont'; 
	src: url('PressStart2P.ttf') format('truetype'); 
}
.mayorsText {
	font-family: mayorsFont, "Courier New";
	font-size: 14px;
	color: white;
}
#mayorsQuest {
	width: 400px;
	background: black;
}
#levelDiv {
	width: 38%;
	display: inline-block;
	padding-top: 2px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#crackDiv {
	width: 30%;
	display: inline;
	float: left;
	text-align: left;
	padding-top: 2px;
	padding-left: 2px;
}
#soundButton {
	width: 30%;
	display: inline;
	float: right;
	text-align: right;
	padding-top: 2px;
	padding-right: 2px;
}
#newsTicker {
	clear: both;
	text-align: center;
	margin: 0px auto;
	border-style: dotted;
	border-width: 2px;
	min-height: 2em;
	padding: 2px;
	background: black;
	color: white;
}