html {
	height: 100%;
}

body {
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
	font-family: "Helvetica", "Arial";

	background: rgb(239,148,255); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(239,148,255,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(239,148,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(239,148,255,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(239,148,255,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(239,148,255,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(239,148,255,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EF94FF', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#header {
	width: 60%;
	height: 100px;
	margin: 0px auto 20px auto;
	clear: both;
}

#info {
	float: left;
	width: 70%;
	clear: both;
}

#nav {
	float: right;
	width: 30%;
}

.indexButton {
	width: 100%;
	height: 80px;
	margin: 10px 0px;
	border-radius: 10px;
	float: right;
}



.content {
	width: 640px;
	height: 540px;
    border-radius: 10px;
	margin: 0px auto;
	clear: both;
	
	background: rgb(149,207,255); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(149,207,255,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(149,207,255,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(149,207,255,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(149,207,255,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(149,207,255,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(149,207,255,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95CFFF', endColorstr='#fefefe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.contentTitle {
	width: 640px;
	height: 60px;
	margin: 0px auto;
	text-align: center;
	clear: both;
}

.contentDisplay {
	width: 475px;
	height: 394px;
	float: left;
	border: 5px solid;
    border-radius: 10px;
	border-color: rgba(255, 255, 255, 0.5);

}

.contentControls {
	width:	145px;
	height: 394px;
	float: right;
	border: 5px solid;
    border-radius: 10px;
	border-color: rgba(255, 255, 255, 0.5);
}

.control {
	margin: 10px 0px 5px 0px;
}

#reviews {
	width: 640px;
	height: 420px;
	margin: 0px auto;
}

video {
	height: 360px;
	margin: 0px auto;
}

#cupcakeSVG  {
	width: 100%;
	height: 100%;
}

#cupcakeCanvas {
	margin: 5px;
}

#sprinkleSample {
	border: 2px solid;
	border-radius: 10px;
	display: block;
	margin: 10px auto 0px auto;
}

#submitFrosting  {
	height: 76px;
	width: 640px;
	margin: 0px 0px 0px 0px;
	border-radius: 10px;
}

#submitSprinkles {
	height: 76px;
	width: 154px;
	float: right;
	margin: 0px 0px 0px 0px;
	border-radius: 10px;
}

label {
	display: block;
	text-align: center;
}

input[type="range"] {
	display: block;
	margin: 0 auto;
}

textarea {
	border-radius: 10px;
	float: left;
	height: 70px;
}

h1 { 
	margin: 0px;
	color: #ffffff;
}

h3 {
	margin: 0px;
	color: #ffffff;
}

p {
	margin: 0px;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

button {
	font-size: 18px;
	font-style: em;
	background: rgb(254,254,253); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(254,254,253,1) 0%, rgba(255,243,140,1) 20%, rgba(255,248,124,1) 80%, rgba(254,254,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(254,254,253,1)), color-stop(20%,rgba(255,243,140,1)), color-stop(80%,rgba(255,248,124,1)), color-stop(100%,rgba(254,254,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg,  rgba(254,254,253,1) 0%,rgba(255,243,140,1) 20%,rgba(255,248,124,1) 80%,rgba(254,254,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg,  rgba(254,254,253,1) 0%,rgba(255,243,140,1) 20%,rgba(255,248,124,1) 80%,rgba(254,254,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg,  rgba(254,254,253,1) 0%,rgba(255,243,140,1) 20%,rgba(255,248,124,1) 80%,rgba(254,254,253,1) 100%); /* IE10+ */
background: linear-gradient(45deg,  rgba(254,254,253,1) 0%,rgba(255,243,140,1) 20%,rgba(255,248,124,1) 80%,rgba(254,254,253,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefd', endColorstr='#fefefd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}